{% load static %}
<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <title>View Road Networks</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <link rel="icon" type="image" size="16x16" href="{% static 'images/favicon.ico'%}"/>
        <link rel="stylesheet" type="text/css" href = "{% static 'css/style.css'%}"/><!--href="css/style.css"> /-->
        <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/script.js'%}"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        
        
        
    </head>
    <body>
        <div class="fluid-container">
            <div class="row">
                <div id="navigate" class="col-2">
                    <div class="title">
                        <img src="{% static 'images/logo_welcome.png' %}">
					</div>
					<div>
						<a href="{% url 'all_networks' %}" class="active"><div>DASHBOARD</div></a>
						<a href="{% url 'simulation' %}" ><div>SIMULATION</div></a>
						<!-- <a href="manual.html"><div>MANUAL</div></a> -->
					</div>
				</div>
				<div class="content col-12 row">
					<div class="emp col-2"></div>
					<div class="cont col-10">
						<div class="cont-bar">
							<h2>Traffic Light Optimizer</h2>
						</div>
						<div class="cont-info">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">All Road Networks</a></li>
                            </ul>
                        
							<div class="road-content row">
                                <!--h1> All Networks </h1-->
                                
                                <div class="row">
                                    <div class="add-button">
                                        <button class="add-network">+ Create New Network</button>
                                    </div>
                                    <div class="col-sm-12">
                                        <h2> Existing networks </h2>
                                        {% if network_list %}
                                            <ul class="list-group" >
                                            {% for network in network_list %}
                                                <li class="list-group-item justify-content-between" >
                                                    <a href="{% url 'road_network' network.id %}">
                                                        {{ network.network_name }}
                                                    </a>
                                                    <span class="badge badge-primary badge-pill" style="float:right"> Intersections 12</span>
                                                    <span class="badge badge-secondary badge-pill" style="float:right"> Roads 12</span>
                                                    <span class="badge badge-success badge-pill" style="float:right"> Traffic Lights 12</span>
                                                </li>
                                            {% endfor %}
                                            </ul>
                                        {% else %}
                                            <p> No Networks in the System.</p>
                                        {% endif %}

                                    </div>
                                    <div class="create-new new-network hide">
                                        <div>
                                            <button class="close-btn">X</button>
                                            <h3> Create New Network </h3>
                                            <form action="{% url 'all_networks' %}" method="post">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <label for="email">Network name:</label>
                                                    {{ network_form.network_name }}
                                                </div>
                                                <input type="submit" value="Submit">
                                            </form>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                                <hr>
                                <div class="recent-visit row">
                                    <br>
                                    <h2 style="text-align:center;">    Recent Visit</h2>
                                    <div class="col-sm-12 card-deck">
                                        {% for network in network_list %}
                                            <div class="card bg-light">
                                                <div class="card-body text-center">
                                                    <h4 class="card-title"> {{ network.network_name }} </h4>
                                                    <p class="card-text"> Network Specific Information</p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
						</div>
					</div>
				</div>
			</div>
        </div>
        

    </body>
</html>