    {% load static %}
    <div class="fluid-container">
        <div class="row">
            <div id="navigate" class="col-2">
                <div class="title">
                    <img src="{% static 'images/logo_welcome.png' %}">
                </div>
                <div>
                    <a href="#" class="active"><div>DASHBOARD</div></a>
                    <a href="{% url 'simulation' %}"><div>SIMULATION</div></a>
                    <!-- <a href="pages/manual.html"><div>MANUAL</div></a> -->
                </div>
            </div>
            <div class="content col-12 row">
                <div class="emp col-2"></div>
                <div class="cont col-10">
                    <div class="cont-bar">
                        <h2>Traffic Light Optimizer</h2>
                    </div>
                    <div class="cont-info">
                        <div class="cont-info-nav row">
                            <!-- <div class="search col-12">
                                <input type="search" name="search">
                            </div> -->
                            <div class="col-3"><h5><i>0 </i> Traffic Lights Found</h5></div>
                            <!-- <div class="col-2">Sort by:</div> -->
                            <!-- <div class="col-2">Filter:</div> -->
                            <div class="col-2"></div>
                            <div class="col-2"></div>
                            <div class="operations col-5">
                                <form method = "post" enctype = "multipart/form-data" > <!--action="../data_to_database/uploadFile.py"-->
                                    <!--button class="btn">+ Add Traffic Light</button-->
                                    {% csrf_token %}
                                    <input type = "file" name = "filename"/>
                                    <input type = "submit" value = "Submit"/>
                                </form>
                                <!-- <button class="btn">More ...</button> -->
                            </div>
                        </div>
                        <div class="records">
                            <table class="table table-borderless">
                                <thead class="thread-dark">
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Location</th>
                                        <th scope="col">Intersection</th>
                                        <th scope="col">Status</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="loading mb-3">
                                        <th>
                                            <img src="{% static 'images/loading.gif'%}" />
                                        </th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                <!--
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Light1</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td><i class="fas fa-trash"></i></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Light2</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td><i class="fas fa-trash"></i></td>
                                    </tr> -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <script type="module">

            // const {InfluxDB} = require('@influxdata/influxdb-client');
            import {InfluxDB, Point} from 'https://unpkg.com/@influxdata/influxdb-client/dist/index.browser.mjs';
            import {HealthAPI, SetupAPI} from 'https://unpkg.com/@influxdata/influxdb-client-apis/dist/index.browser.mjs';

            // You can generate a Token from the "Tokens Tab" in the UI
            const token = 'okx-Wk8zR33DYZxZP91T10ZTfUFmMz866DCKfE3Z8l5azgUT3QLIIdzk6rATGgCdAyuaAbWrReSi9KfchjW0kg==';
            const org = 'cos301.alpha@gmail.com';
            const bucket = 'test Bucket';

            const client = new InfluxDB({url: 'https://eu-central-1-1.aws.cloud2.influxdata.com', token: token});
            let num = 0;

            //Read from database
            const queryApi = client.getQueryApi(org);

            const query = `from(bucket: "${bucket}") |> range(start: -1h)`;
            /*queryApi.queryRows(query, {
              next(row, tableMeta) {
                num++;
                const o = tableMeta.toObject(row);
                $('.records table tbody')
                .append(
                    $('<tr>')
                    .css('display','none')
                    .append(
                        $('<th>')
                        .attr('scope','row')
                        .html(o.tl_id),
                        $('<td>')
                        .html(o.tl_name),
                        $('<td>')
                        .html(o.tl_location),
                        $('<td>')
                        .html(o.tl_intersection),
                        $('<td>')
                        .html(o.tl_status),
                        $('<td>')
                    )
                );
              },
              error(error) {
                console.error(error);
                console.log('\nFinished ERROR');
              },
              complete() {
                $('.records table tbody tr').css('display','table-row');
                $('.records table tr.loading').css('display','none');
                $('.cont-info-nav > div i').html(num);
                console.log('\nFinished SUCCESS');
                // write(org, Bucket);
              },
            });*/

            function complete() {
                $('.records table tbody tr').css('display','table-row');
                $('.records table tr.loading').css('display','none');
                $('.cont-info-nav > div i').html(num);
                console.log('\nFinished SUCCESS');
                // write(org, Bucket);
            }

            var req = new XMLHttpRequest();

            req.onreadystatechange = function() {
                 if(req.readyState == 4 && req.status == 200) {
                      var res = JSON.parse(req.responseText);
                      $.each(res, function(key, value){
                      num++;
                        $('.records table tbody')
                        .append(
                            $('<tr>')
                            .css('display','none')
                            .append(
                                $('<th>')
                                .attr('scope','row')
                                .html(value.id),
                                $('<td>')
                                .html(value.tl_name),
                                $('<td>')
                                .html(value.location),
                                $('<td>')
                                .html(value.intersection),
                                $('<td>')
                                .html(value.status),
                                $('<td>')
                            )
                        );
                      });
                  }
               }
            req.open("GET", "http://localhost:8000/api/", false);
            req.send();
            complete();

            let write = (org, bucket)=>{
                const {Point} = require('@influxdata/influxdb-client');
                const writeApi = client.getWriteApi(org, bucket);
                writeApi.useDefaultTags({host: 'host1'});

                const point = new Point('mem')
                  .floatField('used_percent', 23.43234543);
                writeApi.writePoint(point);
                writeApi
                    .close()
                    .then(() => {
                        console.log('FINISHED');
                    })
                    .catch(e => {
                        console.error(e);
                        console.log('\nFinished ;ERROR');
                    })
            }

            let writeSingle = ()=>{
                $('.operations button').on('click',()=>{
                    // $('')
                });
            }
        </script>