<!-- Nav tabs -->
<ul class="nav nav-tabs nav-justified" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home"> Roads </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu1"> Traffic </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu2"> Optimizer </a>
    </li>
  </ul>

<!-- Tab panes -->
<div class="tab-content">
    <!-- New Road Tab ****************************************************************************************-->
    <div id="home" class="container tab-pane active"><br>
        <span class="badge badge-warning"><h7> Add New Road </h7></span><br><br>
        
        <form action="" method="post">
            {% csrf_token %}
            
            <span class="badge badge-light">
                <!-- br> <br ++++++++++++++++++++++++++++++-->
                <br>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        Position
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="position" value="A"> A
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="position" value="B" > B
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="position" value="C"> C
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="position" value="D" > D
                    </label>
                </div>
                <br><br><br>
                <!-- br> <br ++++++++++++++++++++++++++++++-->
                <div class="form-check-inline">
                    <label class="form-check-label">
                        Road direction
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="direction" value="in"> In
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="direction" value="out" > Out
                    </label>
                </div>
                <br><br>
            </span>
            <!-- br> <br ++++++++++++++++++++++++++++++-->
            <br> <br>
            <div class="input-group mb-3 input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text"> name </span>
                </div>
                {{ road_form.road_name}}
            </div>
            <div class="input-group mb-3 input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">Speed</span>
                </div>
                {{ road_form.average_speed}}
                <div class="input-group-append">
                    <span class="input-group-text">km/h</span>
                </div>
            </div>
            <div class="input-group mb-3 input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">Length</span>
                </div>
                {{ road_form.road_distance}}
                <div class="input-group-append">
                    <span class="input-group-text">m</span>
                </div>
            </div>
            
            <br>
            <button type="submit" class="btn btn-primary btn-primary-sm" style="text-align:left;"> Create </button>
        </form>
    </div>
    <!-- Traffic manipulation *************************************************************************************-->
    <div id="menu1" class="container tab-pane fade"><br>
        <span class="badge badge-warning"><h7> Cars Per Second </h7></span><br><br>
        
        <form action="" method="post">
            
            <label for="R15">R15</label>
            <input type="range" id="R15" name="R15"><br>

            <label for="R301">R301</label>
            <input type="range" id="R301" name="R301"><br>

            <label for="R101">R101</label>
            <input type="range" id="R101" name="R101"><br>

            <label for="R89">R89</label>
            <input type="range" id="R89" name="R89">

            <p><button type="submit" class="btn btn-primary">Update</button></p>
        </form>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <!-- Intersection Optimizer Tab *******************************************************************************-->
    <div id="menu2" class="container tab-pane fade"><br>
        <span class="badge badge-warning"><h7> Time Series Data </h7></span><br><br>
            <form action="" method="post">
                <div class="form-group">
                    <input type="file" class="form-control-file border" name="file">
                </div>
                <button type="submit" class="btn btn-primary btn-primary-sm" style="text-align:left;"> Submit </button>
            </form>

        <hr>
        <span class="badge badge-warning"><h7> Data Forecasting </h7></span><br><br>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>

        <hr>
        <span class="badge badge-warning"><h7> Traffic light timing </h7></span><br><br>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
        
    </div>
</div>