{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>My test page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <link rel="icon" type="image" size="16x16" href="{% static 'images/favicon.ico'%}"/>
        <link rel="stylesheet" type="text/css" href = "{% static 'css/style.css'%}"/><!--href="css/style.css"> /-->
        <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/script.js'%}"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    </head>
    <body>
        <div class="fluid-container">
            <div class="row">
                <div id="navigate" class="col-2">
                    <div class="title">
                        <img src="{% static 'images/logo_welcome.png' %}">
                    </div>
                    <div>
                        <a href="{% url 'all_networks' %}" class="active"><div>DASHBOARD</div></a>
                        <a href="{% url 'simulation' %}"><div>SIMULATION</div></a>
                        <!-- <a href="pages/manual.html"><div>MANUAL</div></a> -->
                    </div>
                </div>
                <div class="content col-12 row">
                    <div class="emp col-2"></div>
                    <div class="cont col-10">
                        <div class="cont-bar">
                            <h2>Traffic Light Optimizer</h2>
                        </div>
                        <div class="cont-info">
                            
                            <ul class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="{% url 'all_networks' %}"> All Networks </a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a href="{% url 'road_network' network_info.id %}"> Network: {{ network_info.network_name }}  </a>
                                    </li>
                            </ul>
                            <div class="road-content road-n row">
                                <!--h1> Network: {{ network_info.network_name }} </h1-->

                                <div class="row">
                                    <div class="add-button">
                                        <button class="add-network">+ Add New Intersection</button>
                                    </div>
                                    <div class="col-sm-12">
                                        <p> Intersections in this Network: </p>
                                        {% if intersection_list %}
                                            <div class="card-columns">
                                                {% for intersection in intersection_list %}
                                                    <div class="card bg-light">
                                                        <div href="{% url 'intersection' network_info.id intersection.id %}" class="card-body text-center">
                                                            <a href="{% url 'intersection' network_info.id intersection.id %}">
                                                                <h6 class="card-title">
                                                                    {{ intersection.intersection_name }}
                                                                </h6>
                                                            </a>
                                                            <a href="#" class="card-link"> Roads: </a>
                                                            
                                                            <span class="badge badge-success badge-pill" style="float:right"> IN  
                                                                <i class='fas fa-sign-in-alt'> 4 </i>
                                                            </span>
                                                            <span class="badge badge-primary badge-pill" style="float:right"> OUT  
                                                                <i class='fas fa-sign-out-alt'> 4 </i>
                                                            </span>
                        
                                                        </div>
                                                    </div>
                                                {% endfor %}  
                                            </div>
                                        {% else %}
                                            <h2> No Intersections in the network.</h2>
                                        {% endif %}
                                        
                                    </div>
                                    <div class="create-new new-intersection hide">
                                        <div>
                                            <button class="close-btn">X</button>
                                            <h3> Add New Intersection </h3>
                                            <form action="{% url 'road_network' network_info.id %}" method="post">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <label for="email"> Intersection name:</label>
                                                    {{ intersection_form.intersection_name }}
                                                </div>
                                                <div class="form-group">
                                                    <label for="email"> Right of Way:</label>
                                                    <span class="badge badge-secondary badge-pill" style="float:right"> Auto Generated </span>
                                                    <!--p>When roads are added to the intersection the system generates a default right of way rules which can be updated.</p-->
                                                </div>
                                                <div class="form-group">
                                                    <label for="email"> Traffic Light configuration:</label>
                                                    <span class="badge badge-secondary badge-pill" style="float:right"> Auto Generated </span>
                                                    <!--p>A default configuration is used to add a traffic lights from all incoming Road to all outgoing roads .</p-->
                                                </div>
                                                <input type="submit" value="Submit">
                                            </form>
                                            <hr>
                                            <div class="upload-dt">
                                                    <div>
                                                        <form method = "post" enctype = "multipart/form-data" > <!--action="../data_to_database/uploadFile.py"-->
                                                                <!--button class="btn">+ Add Traffic Light</button-->
                                                            <legend>Add Historic Data</legend>
                                                            {% csrf_token %}
                                                            <div class="id_tl">
                                                                <input type = "text" name = "tl_form" value="add-historic-data" />
                                                            </div>
                                                            <div>
                                                                <input type = "file" name = "filename"/>
                                                                <input type = "submit" value = "Submit"/>
                                                            </div>
                                                        </form>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </body>
    <script type="module">

            // const {InfluxDB} = require('@influxdata/influxdb-client');
            import {InfluxDB, Point} from 'https://unpkg.com/@influxdata/influxdb-client/dist/index.browser.mjs';
            import {HealthAPI, SetupAPI} from 'https://unpkg.com/@influxdata/influxdb-client-apis/dist/index.browser.mjs';

            // You can generate a Token from the "Tokens Tab" in the UI
            const token = 'okx-Wk8zR33DYZxZP91T10ZTfUFmMz866DCKfE3Z8l5azgUT3QLIIdzk6rATGgCdAyuaAbWrReSi9KfchjW0kg==';
            const org = 'cos301.alpha@gmail.com';
            const bucket = 'test Bucket';

            const client = new InfluxDB({url: 'https://eu-central-1-1.aws.cloud2.influxdata.com', token: token});
            let num = 0;

            //Read from database
            const queryApi = client.getQueryApi(org);

            const query = `from(bucket: "${bucket}") |> range(start: -1h)`;
            queryApi.queryRows(query, {
              next(row, tableMeta) {
                num++;
                const o = tableMeta.toObject(row);
                $('.records table tbody')
                .append(
                    $('<tr>')
                    .css('display','none')
                    .append(
                        $('<th>')
                        .attr('scope','row')
                        .html(o.tl_id),
                        $('<td>')
                        .html(o.tl_name),
                        $('<td>')
                        .html(o.tl_location),
                        $('<td>')
                        .html(o.tl_intersection),
                        $('<td>')
                        .html(o.tl_status),
                        $('<td>')
                        /*.append(
                            $('<i>')
                            .addClass('fas fa-trash')
                        )*/
                    )
                );
                /*console.log(
                  `${o._time} ${o._measurement} in '${o.location}' (${o.example}): ${o._field}=${o._value}`
                );*/
              },
              error(error) {
                console.error(error);
                console.log('\nFinished ERROR');
              },
              complete() {
                $('.records table tbody tr').css('display','table-row');
                $('.records table tr.loading').css('display','none');
                $('.cont-info-nav > div i').html(num);
                console.log('\nFinished SUCCESS');
                // write(org, Bucket);
              },
            });

            let write = (org, bucket)=>{
                const {Point} = require('@influxdata/influxdb-client');
                const writeApi = client.getWriteApi(org, bucket);
                writeApi.useDefaultTags({host: 'host1'});

                const point = new Point('mem')
                  .floatField('used_percent', 23.43234543);
                writeApi.writePoint(point);
                writeApi
                    .close()
                    .then(() => {
                        console.log('FINISHED');
                    })
                    .catch(e => {
                        console.error(e);
                        console.log('\nFinished ;ERROR');
                    })
            }

            let writeSingle = ()=>{
                $('.operations button').on('click',()=>{
                    // $('')
                });
            }
        </script>
</html>