{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image" size="16x16" href="{% static 'images/favicon.ico'%}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <style>
            .footer {
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
                background-color: red;
                color: white;
                text-align: center;
            }

            .even_space > div {
                padding:0 0px;
            }
        </style>
    </head>
    <body>
    <!--********************************************************************************************************-->
        <nav class="navbar navbar-expand-sm bg-info navbar-info fixed-top justify-content-center">
            <a class="navbar-brand" href="#">
                <img src="{% static 'images/logo_welcome.png' %}" width="80" height="80">
            </a>
            <ul class="navbar-nav" style="color:white;">
                <h1>Traffic Light Optimizer</h1>
            </ul>
        </nav>
        <br><br>
    <!--********************************************************************************************************-->
        <div class="container-fluid">
            <br><br>
            <div class="container-fluid ">
                <br>
                <div class="row">
                    <!--div class="col-sm-2" style="background-color:#379683;text-align:center;"-->
                    <div class="col-sm-2" style="background-color:white;text-align:center;">
                        {% include 'main_app/view_intersection.html'%}
                        <hr>
                    </div>

                    <!--div class="col-sm-6" style="background-color:#5cdb95;height: 500px"-->
                    <div class="col-sm-7" >
                        <div class="row bg-light  border border-dark">
                            <div class="col-sm-6" >
                                <nav class="navbar navbar-expand navbar-dark ">
                                    <span class="navbar-text">
                                        <h4 class="text-dark"> <b> 
                                            <span class="badge badge-dark">+</span> 
                                            {{intersection_info.intersection_name}} |
                                        </b></h4>
                                    </span>
                                </nav>
                            </div>
                            <div class="col-sm-6 ">
                                <nav class="navbar navbar-expand navbar-dark ">
                                    <div id="btn-group btn-group-sm ">
                                        <button type="button" class="btn btn-outline-dark" onclick="play()"> 
                                            <i class="fa fa-play"></i> play</button>
                                        <button type="button" class="btn btn-outline-dark" onclick="pause()"> 
                                            <i class="fa fa-pause"></i> pause</button> 
                                        <button type="button" class="btn btn-outline-dark" onclick="stop()"> 
                                            <i class="fa fa-stop"></i> stop</button>
                                        <a type="button" class="btn btn-outline-dark" 
                                            href="{% url 'update_delete_intersection' intersection_info.id %}"> 
                                            <i class="fa fa-trash"></i> 
                                        </a>
                                    </div>
                                </nav>
                            </div>
                        </div>
                        <div class="row border border-dark border-top-0 even_space">
                            <div class="col-sm-2 bg-light">
                                <ul class="list-group list-group-flush bg-secondary">
                                
                                    <!--<li class="list-group-item list-group-item-secondary">
                                        <h6>
                                            <span> time(s): </span>
                                            <div id="time" style="display:inline;">0</div>
                                        </h6>
                                    </li>-->
                                    <li class="list-group-item list-group-item-secondary">
                                        <h5>
                                            <span class="badge badge-secondary "> in A </span>
                                            <div id="carsA" style="display:inline;">0</div>
                                        </h5>
                                        <span>fuel(L):</span>
                                        <div id="fuelA" style="display:inline;padding-left:1pt;">0</div><br>
                                        <span>co2(g):</span>
                                        <div id="co2A" style="display:inline;padding-left:1pt;">0</div><br>
                                    </li>
                                    <li class="list-group-item list-group-item-secondary">
                                        <h5>
                                            <span class="badge badge-secondary"> in B </span> 
                                            <div id="carsB" style="display:inline;">0</div>
                                        </h5>
                                        <span>fuel(L):</span>
                                        <div id="fuelB" style="display:inline;padding-left:1pt;">0</div><br>
                                        <span>co2(g):</span>
                                        <div id="co2B" style="display:inline;padding-left:1pt;">0</div><br>
                                    </li>
                                    <li class="list-group-item list-group-item-secondary">
                                        <h5>
                                            <span class="badge badge-secondary"> in C </span>
                                            <p id="carsC" style="display:inline;">0</p>
                                        </h5>
                                        <span style="display:inline;padding-left:1pt;">fuel(L):</span>
                                        <div id="fuelC" style="display:inline;padding-left:1pt;">0</div><br>
                                        <span>co2(g):</span>
                                        <div id="co2C" style="display:inline;padding-left:1pt;">0</div><br>
                                    </li>
                                    {% if intersection_info.intersection_type == "Cross" %}
                                    <li class="list-group-item list-group-item-secondary">
                                        <h5>
                                            <span class="badge badge-secondary"> in D </span>
                                            <div id="carsD" style="display:inline;">0</div>
                                        </h5>
                                        <span>fuel(L):</span>
                                        <div id="fuelD" style="display:inline;padding-left:1pt;">0</div><br>
                                        <span>co2(g):</span>
                                        <div id="co2D" style="display:inline;padding-left:1pt;">0</div><br>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="col-sm-10" >
                                {% include 'main_app/view_simulation.html'%}
                            </div>
                        </div>
                    </div>
                    
                    <!--div class="col-sm-3" style="background-color:#5cdb95;"-->
                    <div class="col-sm-3" style="background-color:white;text-align:center;">
                        <div class="list-group border border-dark">
                            <span class="current list-group-item bg-light border-bottom-0" style="text-align:center;">
                                <b> Intersection Info </b><br>
                                {% if intersection_info.intersection_type == "T-Up" %}
                                    <img src="{% static 'images/t_up.png' %}" width="220" height="150">
                                {% elif intersection_info.intersection_type == "T-Down" %}
                                    <img src="{% static 'images/t_down.png' %}" width="220" height="150">
                                {% elif intersection_info.intersection_type == "T-Left" %}
                                    <img src="{% static 'images/t_left.png' %}" width="220" height="150">
                                {% elif intersection_info.intersection_type == "T-Right" %}
                                    <img src="{% static 'images/t_right.png' %}" width="220" height="150">
                                {% else %}
                                    <img src="{% static 'images/cross_inter.png' %}" width="150" height="150">
                                {% endif %}
                            </span>
                            {% include 'main_app/view_road.html'%}
                            <br>
                        </div>  
                    </div>

                </div>
                <br>
                <br>
            </div>
        </div>
    <!--********************************************************************************************************-->
        <div class="footer bg-info navbar-info fixed-bottom">
            <i class="fa fa-github" aria-hidden="true"></i> github
        </div>
    <!--********************************************************************************************************-->
    <script>
        $.update_info = function ( iteration=0  ) {
            $.ajax({
                url: '{% url 'get_simulation_infomation' intersection_info.id  %}' ,
                data:{ 'iteration': iteration},
                dataType: 'json',
                success: function (data) {
                    /*if(data.hasOwnProperty('time')){
                        document.getElementById("time").innerHTML = data.co2 ; 
                    }*/

                    if(data.hasOwnProperty('carsA')){
                        document.getElementById("carsA").innerHTML = data.carsA ; 
                        //document.getElementById("trafficA").innerHTML = data.trafficA ; 
                        document.getElementById("fuelA").innerHTML = data.fuelA.toFixed(2); 
                        document.getElementById("co2A").innerHTML = data.co2A.toFixed(1); 
                    }
                    if(data.hasOwnProperty('carsB')){
                        document.getElementById("carsB").innerHTML = data.carsB ; 
                        //document.getElementById("trafficB").innerHTML = data.trafficB ; 
                        document.getElementById("fuelB").innerHTML = data.fuelB.toFixed(2) ; 
                        document.getElementById("co2B").innerHTML = data.co2B.toFixed(1) ; 
                    }
                    if(data.hasOwnProperty('carsC')){
                        document.getElementById("carsC").innerHTML = data.carsC ; 
                        //document.getElementById("trafficC").innerHTML = data.trafficC ; 
                        document.getElementById("fuelC").innerHTML = data.fuelC.toFixed(2) ; 
                        document.getElementById("co2C").innerHTML = data.co2C.toFixed(1) ;  
                    }
                    if(data.hasOwnProperty('carsD')){
                        document.getElementById("carsD").innerHTML = data.carsB ; 
                        //document.getElementById("trafficD").innerHTML = data.trafficB ; 
                        document.getElementById("fuelD").innerHTML = data.fuelB.toFixed(2) ; 
                        document.getElementById("co2D").innerHTML = data.co2B.toFixed(1) ; 
                    }
                }
            });
        };
    </script>
    </body>
</html>