{% load static %}
{% if intersection_info.id > 19 %}
    <img 
        id="myImg" 
        src="{{ MEDIA_URL }}simulation/inter{{intersection_info.id}}/image0.png"
        onload="loadImage()"
        class="img-fluid"
        onError="this.onerror=null;this.src='{% static 'images/loading.gif' %}';"
        style="width:100%"
    >
{% else %}
 <!--width="700" height="500" -->
<b>Roads</b> <br>
    <b>In:</b>
    {% if road_list_in %}
        {% for road in road_list_in %}
            {{ road.road_info }} <br>
        {% endfor %}
    {% else %}
        { empty } <br>
    {% endif %}


    <b>Out:</b> 
    {% if road_list_out %}
        {% for road in road_list_out %}
            {{ road.road_info }} <br>
        {% endfor %}
    {% else %}
        { empty } <br>
    {% endif %}
{% endif %}
<script>
    i = 0;
    var player;
    var timer_is_on = 0;
    function loadImage(){
        document.getElementById("myImg").src ="{{ MEDIA_URL }}" + "simulation/inter{{intersection_info.id}}/image"+i.toString()+".png";
    }
    function task() {
        if( i == 900 ){
            stop()
        }else{
            i = i + 1
            document.getElementById("myImg").src ="{{ MEDIA_URL }}" + "simulation/inter{{intersection_info.id}}/image"+i.toString()+".png";
            player = setTimeout(task, 500 );
        }
    }
    function play() {
        if( !timer_is_on){
            timer_is_on = 1;
            task();
        }
    }
    function pause(){
        clearTimeout(player);
        timer_is_on = 0;
    }
    function stop(){
        clearTimeout(player);
        timer_is_on = 0;
        i = 0;
        document.getElementById("myImg").src ="{{ MEDIA_URL }}" + "simulation/inter{{intersection_info.id}}/image"+i.toString()+".png";
    }
</script>
