<!-- Nav tabs -->
{% load static %}
<ul class="nav nav-tabs nav-justified  role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home"> Roads </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu1"> Traffic </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu2"> Forecast </a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <!-- Update Road Info Tab ****************************************************************************************-->
    <div id="home" class="container tab-pane active"><br>
        <!-- Choose intersection side ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
        
        <ul class="nav nav-pills nav-fill" role="tablist">
            <li class="nav-item">
                <a class="nav-link btn btn-outline-secondary active" data-toggle="pill" href="#side0">A</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-outline-secondary" data-toggle="pill" href="#side1">B</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-outline-secondary" data-toggle="pill" href="#side2">C</a>
            </li>
            {% if intersection_info.intersection_type == "Cross" %}
            <li class="nav-item">
                <a class="nav-link btn btn-outline-secondary" data-toggle="pill" href="#side3">D</a>
            </li>
            {% endif %}
        </ul><br>
        <div class="tab-content">
        {% for r_in_form, r_out_form, count in road_forms%}
        <div id="side{{ count }}" class="container tab-pane {% if count == 0 %} active {%endif%}">
            <form action="{% url 'update_delete_road' intersection_info.id %}" method="post">
                {% csrf_token %}
                <!-- br> <br ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
                
                <table class="table">
                    <thead >
                    <tr>
                        <th>Road</th><th>in</th><th>out</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Lanes</td>
                        <td>{{ r_in_form.num_lanes}}</td>
                        <td>{{ r_out_form.num_lanes}}</td>
                    </tr>
                    <tr>
                        <td>length</td>
                        <td>{{ r_in_form.road_distance}}</td>
                        <td>{{ r_out_form.road_distance}}</td>
                    </tr>
                    <tr>
                        <td>speed</td>
                        <td>{{ r_in_form.average_speed}}</td>
                        <td>{{ r_out_form.average_speed}}</td>
                    </tr>
                    </tbody>
                </table>
                <input type="hidden" id="position{{count}}" name="position" value="{{count}}">
                <button type="submit" class="btn btn-dark btn-dark-sm" style="text-align:left;"> Update </button>
            </form>
        </div>
        {%endfor%}
        </div>
    </div>


    <!-- Traffic manipulation *************************************************************************************-->
    <div id="menu1" class="container tab-pane fade"><br>
        <span class="badge badge-warning"><h7> Cars Per Minute </h7></span><br>
        <p>Number of cars moving in per minute </p>
        <form action="{% url 'update_road_rate' intersection_info.id %}" method="post">
            {% csrf_token %}
            {% if road_list_in %}
                {% for road in road_list_in %}
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><b>{{ road.road_name }}</b> [10-300]</span>
                        </div>
                        <input type="number" id="{{ road.road_name }}" class="form-control" value="{{road.rate}}" name="{{ road.road_name }}" min="10" max="300" step="5"><br>
                    </div>
                    
                {% endfor %}
                <br>
                <p></p>
                <div class="btn-group d-flex">
                    <button type="submit" class="btn btn-dark">Update</button>
                    <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#optimerModal"> Traffic Light Timing </button>
                </div>
            {% else %}
                <b> No roads going into intersection </b> <br>
            {% endif %}
            
        </form>
        
    </div>
    <!-- Intersection Optimizer Tab *******************************************************************************-->
    <div id="menu2" class="container tab-pane fade"><br>
        <span class="badge badge-secondary"><h7> 1 - Time Series Data Forecasting </h7></span> <br><br>
            <p>Upload historic traffic data for intersection</p>
            <form action="{% url 'upload_historic_data' intersection_info.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <input type="file" class="form-control-file border" name="historic_data">
                </div>
                <div class="btn-group d-flex">
                    <button type="submit" class="btn btn-dark btn-dark-sm" style="text-align:left;"> Upload </button>
                    <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#forecastModal"> View Results </button>
                </div>
            </form>
        <hr>
        <span class="badge badge-secondary"><h7> 2 - Optimized Traffic Light Timing </h7></span><br><br>
        <!--<p> Optimizer traffic light timing.</p>-->
        <div class="btn-group d-flex">
            <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#optimizerModal"> Traffic Light Timing </button>
        </div>
        
    </div>
</div>

<!-- The Modal  for Data forecasting -->
<div class="modal fade" id="forecastModal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"> Forecast Traffic Data </h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                
                <!--<h5> Graphed Results </h5> -->
                <!--{{forecast.data }}  -->
                <!--{{forecast.results }}  -->
                {% if forecast_div_ %}
                    {% autoescape off %}
                    {{ forecast_div }}
                    {% endautoescape %}
                {%else%}
                    <h3> Required:</h3> <br><br>
                    <p>Upload historic traffic data for intersection</p>
                {%endif%}
            </div>
            <div class="modal-footer">
                <form action="{% url 'download_forecast_results_csv' intersection_info.id %}" method="post">
                    {% csrf_token %}
                    <button id="download_tl" type="submit" class="btn btn-outline-dark">Download CSV</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- The Modal  for Optimizer -->
<div class="modal fade" id="optimizerModal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"> Optimized Traffic Lights Timing  </h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                
                <!--<h5> Data </h5>
                {%for road in optimizer.data%}
                    {{road }} <br>
                {%endfor%}-->
    
                <!--{{ optimizer.results }}-->
                {% if optimization_div_ %}
                    {% autoescape off %}
                    {{ optimization_div }}
                    {% endautoescape %}
                {%else%}
                    <h3> Required:</h3> <br><br>
                    <span class="badge badge-dark"><h7> 1 - Time Series Data Forecasting </h7></span>
                {%endif%}
            
            </div>
            <div class="modal-footer">
                <form action="{% url 'download_forecast_traffic_light_csv' intersection_info.id %}" method="post">
                    {% csrf_token %}
                    <button id="download_tl" type="submit" class="btn btn-outline-dark">Download CSV </button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- The Modal  for Traffic Timing -->
<div class="modal fade" id="optimerModal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"> Forecast Traffic Data </h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                
                <!--<h5> Graphed Results </h5> -->
                <!--{{forecast.data }}  -->
                <!--{{forecast.results }}  -->
                {% autoescape off %}
                {{ optimer_div }}
                {% endautoescape %}
            </div>
            <div class="modal-footer">
                <form action="{% url 'download_traffic_light_csv' intersection_info.id %}" method="post">
                    {% csrf_token %}
                    <button id="download_tl" type="submit" class="btn btn-outline-dark">Download CSV </button>
                </form>
            </div>
        </div>
    </div>
</div>