{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image" size="16x16" href="{% static 'images/favicon.ico'%}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <style>
            .footer {
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
                background-color: red;
                color: white;
                text-align: center;
            }

            .even_space > div {
                padding:0 0px;
            }
        </style>
    </head>
    <body>
    <!--********************************************************************************************************-->
        <nav class="navbar navbar-expand-sm bg-info navbar-info fixed-top justify-content-center">
            <a class="navbar-brand" href="#">
                <img src="{% static 'images/logo_welcome.png' %}" width="80" height="80">
            </a>
            <ul class="navbar-nav" style="color:white;">
                <h1>Traffic Light Optimizer</h1>
            </ul>
        </nav>
        <br><br>
    <!--********************************************************************************************************-->
        <div class="container-fluid">
            <br><br>
            <div class="container-fluid ">
                <br>
                <div class="row">
                    <!--div class="col-sm-2" style="background-color:#379683;text-align:center;"-->
                    <div class="col-sm-2" style="background-color:white;text-align:center;">
                        {% include 'main_app/view_intersection.html'%}
                        <hr>
                    </div>

                    <!--div class="col-sm-6" style="background-color:#5cdb95;height: 500px"-->
                    <div class="col-sm-7" >
                        <div class="row bg-light  border border-dark">
                            <div class="col-sm-6" >
                                <nav class="navbar navbar-expand navbar-dark ">
                                    <span class="navbar-text">
                                        <h4 class="text-dark"> <b> 
                                            <span class="badge badge-dark">+</span> 
                                            {{intersection_info.intersection_name}} |
                                        </b></h4>
                                    </span>
                                </nav>
                            </div>
                            <div class="col-sm-6 ">
                                <nav class="navbar navbar-expand navbar-dark ">
                                    <div id="btn-group btn-group-sm ">
                                        <button type="button" class="btn btn-outline-dark" onclick="play()"> 
                                            <i class="fa fa-play"></i> play</button>
                                        <button type="button" class="btn btn-outline-dark" onclick="pause()"> 
                                            <i class="fa fa-pause"></i> pause</button> 
                                        <button type="button" class="btn btn-outline-dark" onclick="stop()"> 
                                            <i class="fa fa-stop"></i> stop</button>
                                        <a type="button" class="btn btn-outline-dark" 
                                            href="{% url 'update_delete_intersection' intersection_info.id %}"> 
                                            <i class="fa fa-trash"></i> 
                                        </a>
                                    </div>
                                </nav>
                            </div>
                        </div>
                        <div class="row border border-dark border-top-0 even_space">
                            <div class="col-sm-2 bg-light" >
                                <ul class="list-group list-group-flush bg-secondary">
                                    <li class="list-group-item list-group-item-secondary"><h2>CO2</h2> <br> 354 ppm </li>
                                    <li class="list-group-item list-group-item-secondary"><h2>Cars</h2> <br> 9 </li>
                                    <li class="list-group-item list-group-item-secondary">
                                        <h3>
                                        <span class="badge badge-secondary "> A </span> 2
                                        <h3>
                                        
                                    </li>
                                    <li class="list-group-item list-group-item-secondary">
                                        <h3>
                                        <span class="badge badge-secondary"> B </span> 3
                                        <h3>
                                    </li>
                                    <li class="list-group-item list-group-item-secondary">
                                        <h3>
                                        <span class="badge badge-secondary"> C </span> 1
                                        <h3>
                                    </li>
                                    <li class="list-group-item list-group-item-secondary">
                                        <h3>
                                        <span class="badge badge-secondary"> D </span> 4
                                        <h3>
                                    </li>
                                </ul>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item list-group-item-secondary"></li>
                                </ul>
                            </div>
                            <div class="col-sm-10" >
                                {% include 'main_app/view_simulation.html'%}
                            </div>
                        </div>
                    </div>
                    
                    <!--div class="col-sm-3" style="background-color:#5cdb95;"-->
                    <div class="col-sm-3" style="background-color:white;text-align:center;">
                        <div class="list-group border border-dark">
                            <span class="current list-group-item bg-light border-bottom-0" style="text-align:center;">
                                <b> Intersection Info </b><br>
                                {% if intersection_info.intersection_type == "T-Up" %}
                                    <img src="{% static 'images/t_up.png' %}" width="220" height="150">
                                {% elif intersection_info.intersection_type == "T-Down" %}
                                    <img src="{% static 'images/t_down.png' %}" width="220" height="150">
                                {% elif intersection_info.intersection_type == "T-Left" %}
                                    <img src="{% static 'images/t_left.png' %}" width="220" height="150">
                                {% elif intersection_info.intersection_type == "T-Right" %}
                                    <img src="{% static 'images/t_right.png' %}" width="220" height="150">
                                {% else %}
                                    <img src="{% static 'images/cross_inter.png' %}" width="150" height="150">
                                {% endif %}
                            </span>
                            {% include 'main_app/view_road.html'%}
                            <br>
                        </div>  
                    </div>

                </div>
                <br>
                <br>
            </div>
        </div>
    <!--********************************************************************************************************-->
        <div class="footer bg-info navbar-info fixed-bottom">
            <i class="fa fa-github" aria-hidden="true"></i> github
        </div>

    </body>
</html>