<!-- Nav tabs -->
{% load static %}
<ul class="nav nav-tabs nav-justified" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home"> Roads </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu1"> Traffic </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu2"> Optimizer </a>
    </li>
  </ul>

<!-- Tab panes -->
<div class="tab-content">
    <!-- New Road Tab ****************************************************************************************-->
    <div id="home" class="container tab-pane active"><br>
        
        <form action="{% url 'add_road' intersection_info.id %}" method="post">
            {% csrf_token %}
            {% if intersection_info.intersection_type == "Cross" %}
                    
                                    
            {% endif %}
           
            
            <!-- br> <br ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th><button type="button" class="btn btn-outline-info"> A </button></th>
                    <th><button type="button" class="btn btn-outline-info"> B </button></th>
                    <th><button type="button" class="btn btn-outline-info"> C </button></th>
                    {% if intersection_info.intersection_type == "Cross" %}
                    <th><button type="button" class="btn btn-outline-info"> D </button></th>
                    {% endif %}
                </tr>
                </thead>
            </table>
            <!-- br> <br ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th>Road</th>
                    <th>in</th>
                    <th>out</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Lanes</td>
                    <td>{{ road_form.num_lanes}}</td>
                    <td>{{ road_form.num_lanes}}</td>
                </tr>
                <tr>
                    <td>length</td>
                    <td>{{ road_form.road_distance}}</td>
                    <td>{{ road_form.road_distance}}</td>
                </tr>
                <tr>
                    <td>speed</td>
                    <td>{{ road_form.average_speed}}</td>
                    <td>{{ road_form.average_speed}}</td>
                </tr>
                </tbody>
            </table>
            
            <button type="submit" class="btn btn-primary btn-primary-sm" style="text-align:left;"> Update </button>
        </form>
    </div>


    <!-- Traffic manipulation *************************************************************************************-->
    <div id="menu1" class="container tab-pane fade"><br>
        <span class="badge badge-warning"><h7> Cars Per hour </h7></span><br>
        <p>The number of cars moving into the intersection per hour </p>
        <form action="" method="post">
            {% if road_list_in %}
                {% for road in road_list_in %}
                    <label for="{{ road.road_name }}"><b>{{ road.road_name }}</b> [300]</label><br>
                    <input type="range" id="{{ road.road_name }}" name="{{ road.road_name }}" min="0" max="2" step="0.1"><br>
                {% endfor %}
                <br>
                <p><button type="submit" class="btn btn-primary">Update</button></p>
            {% else %}
                <b> No roads going into intersection </b> <br>
            {% endif %}
            
        </form>
        
    </div>
    <!-- Intersection Optimizer Tab *******************************************************************************-->
    <div id="menu2" class="container tab-pane fade"><br>
        <span class="badge badge-dark"><h7> 1 - Time Series Data Forecasting </h7></span> <br><br>
            <p>Using historic traffic data to predict</p>
            <form action="{% url 'home' intersection_info.id %}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="file" class="form-control-file border" name="historic_data">
                </div>
                <button type="submit" class="btn btn-primary btn-primary-sm" style="text-align:left;"> Upload </button>
                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#forecastModal"> View Results </button>
            </form>

        <hr>
        <span class="badge badge-dark"><h7> 2 - Traffic Light Optimizer </h7></span><br><br>
        <p> Optimizer traffic light timing on predicted traffic.</p>
        <button type="button" class="btn btn-primary btn-primary-sm" style="text-align:left;"> Optimize </button>
        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#optimizerModal"> View Results </button>
        
        
    </div>
</div>

<!-- The Modal  for Data forecasting -->
<div class="modal fade" id="forecastModal">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"> Forecast Traffic Data </h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                <h5> Data </h5>
                <!--{{forecast.data }}  -->
                <hr>
                <h5> Results </h5>
                <!--{{forecast.results }}  -->
            </div>

        </div>
    </div>
</div>

<!-- The Modal  for Optimizer -->
<div class="modal fade" id="optimizerModal">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"> Optimized Traffic Lights  </h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                <h5> Data </h5>
                
                <!--
                    {%for road in optimizer.data%}
                    {{road }} <br>
                {%endfor%}
                -->
                <hr>
                <h5> Results </h5>
                <!--
                {{ optimizer.results }}
                {% autoescape off %}
                {{ plot_div }}
                {% endautoescape %}
                -->
            </div>
            
        </div>
    </div>
</div>