<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="author" content="cos301alpha">
		<title>Traffic Light Optimization</title>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
		<link rel="icon" type="image" size="16x16" href="../images/favicon.ico"/>
		<link rel="stylesheet" type="text/css" href="../bootstrap-4.0.0-dist/css/bootstrap.min.css">
		<script type="text/javascript" src="../bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../css/style.css" />
		<script type="text/javascript" src="../js/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="../js/script.js"></script>
	</head>
	<body>
		<div class="fluid-container">
			<div class="row">
				<div id="navigate" class="col-2">
					<div class="title">
						<img src="../images/logo_welcome.png">
					</div>
					<div>
						<a href="#" class="active"><div>DASHBOARD</div></a>
						<a href="simulation.html"><div>SIMULATION</div></a>
						<a href="manual.html"><div>MANUAL</div></a>
						<a href="../"><div>SIGNOUT</div></a>
					</div>
				</div>
				<div class="content col-12 row">
					<div class="emp col-2"></div>
					<div class="cont col-10">
						<div class="cont-bar">
							<h2>Traffic Light Optimizer</h2>
						</div>
						<div class="cont-info">
							<div class="cont-info-nav row">
								<!-- <div class="search col-12">
									<input type="search" name="search">
								</div> -->
								<div class="col-3"><h5>2 Traffic Lights Found</h5></div>
								<div class="col-2">Sort by:</div>
								<div class="col-2">Filter:</div>
								<div class="operations col-5">
									<button class="btn">+ Add Traffic Light</button>
									<button class="btn">More ...</button>
								</div>
							</div>
							<div class="records">
								<table class="table table-borderless">
									<thead class="thread-dark">
										<tr>
											<th scope="col">ID</th>
											<th scope="col">Name</th>
											<th scope="col">Location</th>
											<th scope="col">Intersection</th>
											<th scope="col">Status</th>
											<th scope="col"></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row">1</th>
											<td>Light1</td>
											<td></td>
											<td></td>
											<td></td>
											<td><i class="fas fa-trash"></i></td>
										</tr>
										<tr>
											<th scope="row">2</th>
											<td>Light2</td>
											<td></td>
											<td></td>
											<td></td>
											<td><i class="fas fa-trash"></i></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>